/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 300px !important;
  background-image: url('./assets/images/b51657f0.png');
}
form {
  span {
    font-size: 10px;
    color: red;
  }
}

.container-hover:hover {
  background-color: rgb(23, 162, 184, 0.5);
}