.front-card {
  -webkit-box-shadow: inset -5px -48px 57px -83px rgba(91,192,222,0.72);
  -moz-box-shadow: inset -5px -48px 57px -83px rgba(91,192,222,0.72);
  box-shadow: inset -5px -48px 57px -83px rgba(91,192,222,0.72);}
